CORS_ORIGIN_WHITELIST=http://127.0.0.1:5500,https://my_app_name.netlify.app
LOGGING_CONFIG_FILE=logging-dev.conf

CREATE_PEOPLE_SERVICE_URL=http://create_service:8001
READ_PEOPLE_SERVICE_URL=http://read_service:8002
UPDATE_PEOPLE_SERVICE_URL=http://update_service:8003
DELETE_PEOPLE_SERVICE_URL=http://delete_service:8004

PEOPLE_SERVICE_TYPE=rest